TELEGRAM_BOT_TOKEN=replace-with-new-botfather-token

DB_NAME=replace-with-database-name
DB_USER=replace-with-database-user
DB_PASSWORD=replace-with-database-password
DB_HOST=replace-with-database-host
DB_PORT=5432
